[submodule "discussions"]
	path = discussions
	url = https://github.com/doodle-lang/discussions.git
[submodule "doodle-rust"]
	path = doodle-rust
	url = https://github.com/doodle-lang/doodle-rust.git
[submodule "doodle-web"]
	path = doodle-web
	url = https://github.com/doodle-lang/doodle-web.git
